<router-outlet></router-outlet>

<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        
        <ul class="nav flex-column" >
          <li class="nav-item"  *ngFor="let item of entradas;" >
            <a class="nav-link" aria-current="page" (click)="onScrollTo(item.link)"  [ngStyle]="activeLink==item.link && {'color':'blue'} || {'color': 'black'}" >
              <span data-feather="home"  ></span>
              {{item?.title}}
            </a>
          </li>
       
        </ul>

      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"  >
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Blog</h1>
      </div>
      <div class="list">
        <div class="list-item inactive"
            inViewport
            (inViewportAction)="onIntersection($event)"
            *ngFor="let item of entradas;"  id="{{item?.link}}" >
            <div >
              <h3 class="title">{{item.id+1}}.- {{item.title}}</h3>
              <p class="texto">{{item?.description}}</p>

             
            </div>
            <hr>
          </div>
      </div>
      
    </main>
  </div>
</div>

<div>
